body{
    font-family: 'Prompt', sans-serif;
}
.festmoon{
    font-family: 'Prompt', sans-serif;
    font-size: 46pt; 
    color:#F3AC41;
    letter-spacing: 5%;
    line-height: 132%;
}
.festedmoon {
    font-family: 'Noto Serif SC', serif;
    font-size: 40pt;
    color: #F3AC41;
    letter-spacing: 5%;
    line-height: 132%;

}
.rabbit-fest{
    font-family: 'Prompt', sans-serif;
    font-size: 46pt; 
    color:#F3AC41;
    letter-spacing: 5%;
    line-height: 132%;
    float: left;
}
.rabbitmoon{
    font-family: 'Noto Serif SC', serif;
    font-size: 40pt; 
    color:#F3AC41;
    letter-spacing: 5%;
    line-height: 132%;
    float:right;
}
.moonfest{
    display:flex;
    justify-content: center;
}
.rabbit-on-the-moon{
    text-align: center;
}
.moon-wai {
    text-align: center;
}
#img{
    width:330px;
    height:330px;
}
