.last-page{
    background: url("../images/background7.png")no-repeat center center;
    background-size: cover;
    width: 100vw;
}
#lastpic{
    background: url("../images/background7.png")no-repeat center center;
    background-size: cover;
    width: 100vw;
}