body{
    background-color: #273959;
    font-family: 'Prompt', sans-serif;
}
.missed{
    text-align: center;
    background: url("../images/backgroung2.png")no-repeat center center;
    background-size: cover;
    height:100%;
    width: 100vw;
    line-height: 10%;
    padding-bottom: 5rem;
    padding-top:5rem;
}
.miss-lang{
    font-family: 'Prompt', sans-serif;
    font-size: 45pt;
    color:#F3AC41;
    letter-spacing: 5%;
    line-height: 132%;
}
.mis-lang-lang{
    font-family: 'Noto Serif SC', serif;
    font-size: 18px;
    color: #F3AC41;
    letter-spacing: 5%; 
    line-height: 132%;
}
p{
    font-family: 'Prompt', sans-serif;
    font-size: 18px ;
    color: #fdc264;
    letter-spacing: 4%;
    line-height: 132%;
    text-align: center;
    font-weight: bold;
}
#miss{
    width:273px;
    height:317px;
}
.write{
    font-family: 'Prompt', sans-serif;
    font-size: 18px ;
    color: #fdc264;
    letter-spacing: 4%;
    line-height: 132%;
    text-align: center;
    font-weight: bold;
}
hr{
    margin-top:2rem;
}
.chang{
    margin-top:5rem;
}
