body{
    background-color: #273959;
    font-family: 'Prompt', sans-serif;
}
.missed{
    text-align: center;
}
.miss-lang{
    margin-top:5rem;
    font-family: 'Prompt', sans-serif;
    font-size: 72pt; 
    color:#F3AC41;
    letter-spacing: 5%;
    line-height: 132%;
}
.mis-lang-lang{
    margin-top:5rem;
    font-family: 'Noto Serif SC', serif;
    font-size: 30px;
    color: #F3AC41;
    letter-spacing: 5%; 
    line-height: 132%;
}
p{
    font-family: 'Prompt', sans-serif;
    font-size: 30px ;
    color: #fdc264;
    letter-spacing: 4%;
    line-height: 132%;
    text-align: center;
    font-weight: bold;
}
#miss{
    margin-top:5rem;
    width:364px;
    height:423px;
}
.write{
    font-family: 'Prompt', sans-serif;
    font-size: 28px ;
    color: #fdc264;
    letter-spacing: 4%;
    line-height: 132%;
    text-align: center;
    font-weight: bold;
}