body{
    font-family: 'Prompt', sans-serif;
}
.menu {
    background-color: #021225;
    color: #FFFFFF;
}
h1{
    font-size:18px;
    font-family: 'Prompt', sans-serif;
}
#menu-logo{
    width:100px;
    height:100px;
}