body{
    font-family: 'Prompt', sans-serif;
}
.narbar{
    color: #021225;
    text-align: center;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #021225;
    color: #FFFFFF;
    width:100vw;
}
.menu-left{
    display:flex;
    justify-content: space-between;
}
.menu-center{
    display:flex;
    justify-content: center;
    text-align:center;
}
.menu-right{
    display:flex;
    justify-content: space-between;
}
h1{
    font-size:18px;
    font-family: 'Prompt', sans-serif;
}
#menu-logo{
    width:100px;
    height:100px;
}
.china{
    display:flex;
    justify-content: space-evenly;

}
.bigger-home{
    background-color:#021225;
    padding-bottom: 5rem;
    background-image:url("../images/backmain.png");
    height:100vh;
    width:100vw;
}
h3{
    text-align:center;
}
.chin-lang{
    font-family: 'Noto Serif SC', serif;
    font-size: 164px;
    color: #FFFFFF;
}
.thai-lang{
    margin-bottom: 150px;
    font-family: 'Prompt', sans-serif;
    font-size:20px;
    color:#FFFFFF;
}
.lamp-right{
    margin-top:40px;
    margin-left:20px;
}
.lamp-left{
    margin-top:40px;
    margin-right:20px;
}
h3 span {
    display:block;
}
.text{
    margin-bottom: 80px;
}
#rabbit-left{
    width:191px;
    height:217px;
}
#rabbit-right{
    width:255px;
    height:216px;
}
.rabbit{
    display:flex;
    justify-content:space-evenly;
}
.last-page{
    background-image:url("../images/hellodophin+rabbit.png");
    width:100vw;
    height:30vh;
}